@use 'styles/animations';
@import "styles/colors";

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "nav";
  justify-items: center;

  @media (min-width: 550px) {
    grid-template-areas: "title . nav";
    justify-items: start;
  }

  .header__title {
    grid-area: title;
    color: #111111;
    font-size: 2rem;
  }

  .header__nav {
    grid-area: nav;
  }

  .header__nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;

    .nav-list__list-item {
      position: relative;
      text-transform: lowercase;
      font-weight: 500;
      font-size: 1.2rem;
      color: rgb(117, 112, 112);
      cursor: pointer;
      transition: color 0.3s;

      &:not(:last-child) {
        margin-right: 1.2rem;
      }

      &.nav-list__list-item-active {
        color: #111111;
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 70%;
          width: 100%;
          height: 7px;
          z-index: -1;
          background-color: $cool-pinkish;
          @include animations.FadeAndSlideIn(0.6s);
        }
      }
    }
  }
}
