@keyframes FadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeAndSlideInAnimation {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes FadeAndSlideInFromTheTopAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

$general-animation-duration: 1s;

@mixin FadeAndSlideIn($duration: $general-animation-duration) {
  transform-origin: top left;
  animation: FadeAndSlideInAnimation $duration ease-out;
}

@mixin FadeAndSlideInFromTheTop($duration: $general-animation-duration) {
  animation: FadeAndSlideInFromTheTopAnimation $duration ease-out;
}
